:root {
  --bg: #222020;
  --color: snow;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  /* height: 100%; */
  /* overflow: hidden; */
  font-family: "Poppins";
  box-sizing: border-box;
}
nav {
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  position: fixed;
  /* overflow: hidden; */
  align-items: center;
  padding: 0.4rem 1.3rem;
  background-color: #333;
  justify-content: space-between;
}

/* Navbar links */
nav a {
  /* float: left; */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a img {
  top: 0;
  left: 0.6em;
  width: 6rem;
  height: 6rem;
  position: absolute;
  background: snow;
  border-radius: 100%;
}

nav a:hover {
  font-size: larger;
}

main.jumbotron-main {
  height: 100%;
  display: flex;
  margin-top: 5.7rem;
  align-items: center;
  justify-content: space-evenly;
}

main.jumbotron-main div.text {
  width: 65%;
  text-align: center;
}

main.jumbotron-main img {
  width: calc(100% - 65%);
}
div.video {
  width: 98%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.video h1 {
  margin: 0.71em;
  text-align: center;
  font-size: xx-large;
}

video,
iframe {
  width: 93.5%;
  height: 420px;
  margin: 1em auto;
}

div.links {
  z-index: 3;
  width: 100%;
  margin: auto;
  padding: 1rem;
  margin-top: 5rem;
  padding-top: 4rem;
  text-align: center;
  position: relative;
}

div.links::before {
  top: 16%;
  left: 0;
  right: 0;
  z-index: -1;
  content: "";
  height: 75%;
  width: 20rem;
  opacity: 0.6;
  margin: auto;
  padding: 0.7rem;
  filter: blur(2px);
  position: absolute;
  border-radius: 20px;
  background: #222020;
}

div.links p:nth-child(1) {
  padding: 0.5rem;
  font-size: x-large;
  text-decoration: underline;
  font-family: "Roboto";
}

div.links p {
  color: snow;
  padding: 0.5em;
  font-size: large;
}
div.links p a {
  color: rgb(76, 225, 239);
}

div.parallx {
  height: 18rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("./image/3d-abstract-network-communications-background-with-plexus-design\ \(1\).jpg");
} 

footer {
  margin: 0.5rem;
  text-align: center;
}
